body {
  background: radial-gradient(circle, #1db954, #191414, #535353, #1db954);
  background-size: 500% 500%;
  animation: gradientAnimation 15s ease infinite;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea al principio (parte superior) */
   /* Asegura que el body ocupe toda la altura de la ventana */
  padding: 20px; /* Agrega un pequeño padding para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el cálculo de las dimensiones */
  text-align: left; /* Centra el texto dentro del body */
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
  animation: snowEffect 3s ease-in-out infinite;
}

/* Cambiar color de la fila activa en las tablas */
/* Botones de categorías */
.category-button {
  background: linear-gradient(135deg, #1db954, #34c759);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.5s ease, box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(29, 185, 84, 0.3);
  display: inline-block; /* Asegura que los botones se alineen en fila en pantallas grandes */
}

.category-button:hover {
  background: linear-gradient(135deg, #34c759, #1db954);
  box-shadow: 0px 6px 12px rgba(29, 185, 84, 0.6);
  transform: scale(1.05);
}

.category-button.active {
  background: linear-gradient(135deg, #127a42, #1a7a3b); /* Más oscuro para resaltar */
  border: 2px solid #34c759;
  box-shadow: 0px 6px 12px rgba(29, 185, 84, 0.8);
  color: #fff;
  transform: scale(1.05);
}


thead {
  background-color: #121212;
}

tbody{
  cursor:pointer;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
  .category-button {
    font-size: 1rem; /* Mantener el tamaño de fuente más grande para mejor legibilidad */
    padding: 12px 25px; /* Aumentar el padding para que el botón se vea bien */
    width: 100%; /* Hace que los botones ocupen todo el ancho disponible */
    margin: 10px 0; /* Agregar margen para separarlos */
    display: block; /* Cada botón se coloca en su propia línea */
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes snowEffect {
  0% {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
                 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    color: #eeeeee;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.3);
  }
  100% {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
                 0 0 10px rgba(255, 255, 255, 0.5);
  }
}