.subscription-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .subscription-form h2 {
    margin-bottom: 20px;
    color:#000;
  }
  
  .subscription-form label {
    display: block;
    margin-bottom: 5px;
    color: #000;
  }
  
  .subscription-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .subscription-form button {
    width: 100%;
    padding: 10px;
    background-color: #1db954;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .subscription-form button:hover {
    background-color: #1ed760;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 20px;
  }

  h4{
    font-size: xx-large;
    color: #000;
  }
  